body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#message-run {
    /*top: -10px;*/
}

#run-report-btn {
    margin-bottom: -10px;
    /*position: absolute;*/
    /*float: right;*/
}

.db-operation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.database-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.table-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
}

.field-list {
    margin-top: 4px;
    margin-left: 20px;
}

.field-buttons {
    padding-top: 2px;
    padding-bottom: 2px;
}

#downloadButton {
    /*position: absolute;
    right: 50px;*/
    float: right;
    margin-top: -40px;
}