@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div ng-controller="DatabaseController">
    <a href="" ng-click="getDatabases()">Get databases (if database views don't load automatically).</a><br />
    <div class="col-md-4" ng-repeat="database in databases">
      <img src="~/Content/dbicon.png" /><span>{{database.name}}</span>
      <ul class="table-list">
        <li ng-repeat="table in database.tables">
          <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" /><span>{{table}}</span>
        </li>
        <li>Click a field to add to report.</li>
      </ul>
    </div>
  </div>

    @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
      <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br/>
      <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
      <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
      <img src="~/Content/collapseicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />Field<br />Field<br />Field<br />
      <p>Click a field to add to report.</p>*@
    @*<div class="col-md-4">
        <img src="~/Content/dbicon.png" />Database 2<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/collapseicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />Field<br />Field<br />Field<br />
        <p>Click a field to add to report.</p>
    </div>*@
  <div class="col-md-4">
    <h3>Match fields between tables</h3>
    DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
    DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
    DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
    <p>RUN REPORT</p>
  </div>
</div>