@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div ng-controller="DatabaseController">
    <a href="" ng-click="getDatabases()">Get databases (if database views don't load automatically).</a><br />
    <a href="" ng-click="getTestDatabases()">Get test databases</a><br />
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills db-operation">
          <li role="presentation" class="active"><a href="#" data-toggle="tab" ng-click="setOperation('INNERJOIN')">Inner Join</a></li>
          <li role="presentation"><a href="#" data-toggle="tab" ng-click="setOperation('OUTERJOIN')">Outer Join</a></li>
          <li role="presentation"><a href="#" data-toggle="tab" ng-click="setOperation('SELECT')">Select</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info" role="alert" id="message-container">
          <span id="status-message">This box displays important messages</span>
        </div>
      </div>
    </div>
    
    <div class="col-md-4" ng-repeat="database in databases">
      <img src="~/Content/dbicon.png" /><span>{{database.name}}</span>
      <div class="table-list">
        <div ng-repeat="table in database.tables">
          <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" /><span>{{table.name}}</span>
          <div class="field-list">
            <div ng-repeat="field in table.fields">
              <button ng-click="addField(database.name,table.name,field.name)" class="btn btn-info btn-sm field-buttons">{{field.name}}</button>
            </div>
          </div>
        </div>
        <span>Click a field to add to report.</span>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-repeat="operation in operations">
        <h3>{{operation.name}}</h3>
        <div ng-repeat="database in operation.opFields">
          <span>{{database.name}}</span>
          <div ng-repeat="table in database.tables" class="table-list">
            <span>{{table.name}}</span>
            <div ng-repeat="field in table.fields" class="field-list">
              <span>{{field}}</span>
            </div>
          </div>
        </div>
      </div>
      <button ng-click="submitReport()" class="btn btn-default">Run Report</button>
    </div>
  </div>

  @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br/>
    <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
    <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
    <img src="~/Content/collapseicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />Field<br />Field<br />Field<br />
    <p>Click a field to add to report.</p>*@
  @*<div class="col-md-4">
        <img src="~/Content/dbicon.png" />Database 2<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/expandicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />
        <img src="~/Content/collapseicon.png" /><img src="~/Content/tableicon.png" height="15px" />Table<br />Field<br />Field<br />Field<br />
        <p>Click a field to add to report.</p>
    </div>*@
  @*<div class="col-md-4">
      <h3>Match fields between tables</h3>
      DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
      DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
      DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />DB1-Table1-Field<br />
      <p>RUN REPORT</p>
    </div>*@
</div>